html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  min-width: 320px;
}

/*------------------------------------*\
    # Global
\*------------------------------------*/
// header,
// header * {
//   border: 1px solid red;
// }

.prt-button {
  padding-top: var(--button-padding-top, 0.75rem);
  padding-bottom: var(--button-padding-bottom, 0.75rem);
}

.prt-tags .prt-button {
  padding-top: var(--button-padding-top, 0.5rem);
  padding-bottom: var(--button-padding-bottom, 0.5rem);
}
