$green     :#4299E1;
$green-dark:#1f7b55;

// PX to REM - Usage: font-size: rem(37px);
@function rem($px, $base: $base-font-size) {
    @return ($px / $base) * 1rem;
}


/*------------------------------------*\
    # Simple Typography Settings
\*------------------------------------*/


$font-family: "Open sans",
sans-serif;

$menu-font-family: "Open sans",
serif;
$h-font-family: "Montserrat",
sans-serif;

// Base Font for HTML
$base-font-size: 16px;

// Paragraph Styles
$paragraph-color      : #000;
$paragraph-size       : rem(17px);
$paragraph-line-height: 1.5em;
$paragraph-margin     : 20px;

// Header Styles
$header-color      : #000;
$header-size       : rem(80px);
$header-line-height: 1.25em;
$header-margin     : $paragraph-margin * 1.2;

// Blockquote Styles
$blockquote-color      : #000;
$blockquote-size       : rem(23px);
$blockquote-line-height: 1.5em;
$blockquote-margin     : $paragraph-margin * 1.5;

// Links
$link-color: $green;

// hr
$hr-margin: 30px;

// Type Misc
$font-weight-bold: 800;
$border-color : #dadada;